.container .card {
  position: relative;
}

.container .card .edit {
  position: absolute;
  font-size: 18px;
  top: 12px;
  right: 8px;
  cursor: pointer;
  animation: come-from-right .3s;
}

.container .card:hover .edit {
  display: block !important;
}

.container .card .last-update {
  position: absolute;
  bottom: 4px;
  right: 12px;
  font-size: 12px;
  color: #b0b5ba !important;
}

.container .row .col-12 {
  animation: slide-in-bottom 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.container .row .col-12:nth-last-of-type(5){
  animation-delay: 0.15s;
}
.container .row .col-12:nth-last-of-type(4) {
  animation-delay: 0.3s;
}
.container .row .col-12:nth-last-of-type(3) {
  animation-delay: 0.45s;
}
.container .row .col-12:nth-last-of-type(2) {
  animation-delay: 0.6s;
}
.container .row .col-12:nth-last-of-type(1) {
  animation-delay: 0.75s;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes come-from-right {
  from {
    transform: translateX(10px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}