button:focus,
input:focus,
textarea:focus {
  box-shadow: none !important;
}

svg.icon {
  font-size: 1.2em;
  margin-top: -0.25em;
  margin-right: 4px;
}

.cursor-pointer {
  cursor: pointer;
}

::root {
   --toastify-color-error: #e74c3c;
}