button:focus,
input:focus,
textarea:focus {
  box-shadow: none !important;
}

svg.icon {
  font-size: 1.2em;
  transform: translateY(-0.095em);
  margin-right: 4px;
}

.cursor-pointer {
  cursor: pointer;
}